<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github-customation" value="https://nuget.pkg.github.com/customation/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-customation>
      <add key="Username" value="customation" />
      <add key="ClearTextPassword" value="%NUGET_GITHUB_PAT%" />
    </github-customation>
  </packageSourceCredentials>
</configuration>
